<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% macro input(name, value='', type='text', size=20, required=False) %}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}" required="{{require}}">
    {%- endmacro %}
    <div id="menu">
        <ul>
            <li><a href="/">home</a></li>
            {% if is_editor %}
            <li><a href="/store_item">add item</a></li>
            <li><a href="/store_bill_table">add bill</a></li>
            {% endif %}
            <li><a href="/guestbook">guestbook</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2014 by <a href="http://chenliangxu.zxq.net/">CHEN Liangxu.</a>
        {% endblock %}
    </div>
</body>