{% extends "template/base.html" %}
{% block title %}Add item{% endblock %}
{% block content %}
<div class="title_item_page">Add item</div>
<div class="add_item_form">
<form action="/store_item" method="post">
	<table class="add_item_table">
		<tr><td class="add_item_table_left_td">code id(编码):</td><td>{{input('code_id',required=True)}}</td></tr>
      	<tr><td class="add_item_table_left_td">name(名字) : </td><td>{{input('name')}}</td></tr>
      	<tr><td class="add_item_table_left_td">price(单价) : </td><td>{{input('price',required=True)}}</td></tr>
      	<tr><td class="add_item_table_left_td">type(类别) : </td><td><select name="type_item">
			  <option value="None">None</option>
			  <option value="针">针</option>
			  <option value="铊">铊</option>
			  <option value="钉">钉</option>
			  <option value="片">片</option>
			</select></td></tr>
	</table>
    <input type="submit" value="Add" name="type">
</form>
<hr>
<form action="/store_item" method="post">
    <p>example: code_id name price type;
    <div>
     <textarea name="text"></textarea>
    </div>
    <input type="submit" value="Add multiple" name="type">
</form>
</div>
<hr>
<div class="item_div">
	<table class="add_item_table">
		<thead>
			<tr><td>code id</td><td>name</td><td>price</td><td>type</td></tr>
		</thead>
		<tbody>
		{% for item in items %}
			<tr><td>{{item.code_id}}</td><td>{{item.name}}</td><td>{{item.price}}</td><td>{{item.type_item}}</td></tr> 
		{% endfor %}
		</tbody>
	</table>
</div>
<hr>
{% endblock %}