{% extends "template/base.html" %}
{% block title %}Bill{% endblock %}
{% block content %}
<div class="add_item_bill_form">
<form action="/store_bill?bill_id={{bill_id}}" method="post">
	<table class="add_item_table">
		<thead>
			<tr><td>item_id(货物编码)</td><td>quantity(数量)</td></tr>
		</thead>
		<tbody>
		<tr>
			<td><select name="item_id">
				{% for item in items %}
					<option value="{{item.code_id}}">{{item.code_id}}</option>
				{% endfor %}
				</select>
			</td>
			<td>{{input('number',required=True)}}</td>
		</tr>
		<tbody>
	</table>
	<input type="submit" value="add" name="Operation">
</form>
<hr>
<div class="item_div">
	<table class="add_item_table">
		<thead>
			<tr><td>id(货物编码)</td><td>name(名字)</td><td>unit price(单价)</td><td>quantity(数量)</td><td>total(总价)</td></tr>
		</thead>
		<tbody>
		{% for key, value in content.iteritems() %}
		<tr>
			<td>{{ value.id }}</td>
			<td>{{ value.name }}</td>
			<td>{{ value.price }}</td>
			<td>{{ value.number }}</td>
			<td>{{ value.total }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<h3>Total price(合计):{{ total_price }}</h3>
</div>
<hr>
{% endblock %}